<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prabhakarans.flashlight"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- API levels -->
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    
    <!-- Usable features -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="true" />
    
    <!-- Required permissions for usable features -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false">
        
        <!-- Activity -->
        <activity
            android:name=".FlashMe"
    		android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
     </application>

</manifest>